*,*:after,*:before {-webkit-box-sizing: border-box;box-sizing: border-box;}
html, body {height: 100%;}
body {background: #fff;color: #333;font-weight: 400;font-size: 18px;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;overflow: hidden;overflow-y: scroll; /* force scroll */}
.main {height: 100%;-webkit-perspective: 1200px;perspective: 1200px;}
.animating .main {overflow: hidden;}
.container {width: 100%;height: 100%;padding: 1em;position: relative;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-justify-content: center;-moz-justify-content: center;justify-content: center;-webkit-box-direction: normal;-webkit-box-orient: vertical;-webkit-flex-direction: column;-moz-flex-direction: column;-ms-flex-direction: column;flex-direction: column;}
/* Morph Shape */
.morph-shape {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.morph-shape svg {
	position: absolute;
	margin: 0;
	pointer-events: none;
}

/* Stack */
.stack ul {
	position: relative;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

.stack ul li {
	position: absolute;
	width: 100%;
	opacity: 0;
overflow: hidden; 
}

ul.stack__images {
	width: 300px;
	height: 230px;
	z-index: 10;
	-webkit-perspective: 1000px;
	-webkit-perspective-origin: 50% -50%;
	perspective: 1000px;
	perspective-origin: 50% -50%;
}
.stack__images li {
	top: 0;
	z-index: 1;
	-webkit-transform: translate3d(0,0,-180px);
	transform: translate3d(0,0,-180px);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.stack__images li img {
	display: block;
	max-width: 100%;
	pointer-events: none;
}

.stack__images li:hover {
	cursor: url(../img/cursor_vulcan.png), auto;
}

.stack__images li:active {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

.stack__images li.animate {
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.stack__images li.move-back {
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1.515);
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1.515);
}

.stack__next {
	border: none;
	background: none;
	display: block;
	padding: 0;
	overflow: hidden;
	margin: 30px auto 0;
	font-size: 16px;font-weight: bold;
	position: relative;
	cursor: pointer;border-radius: 4px;padding: 10px 60px;background-color: #ff2d55;color: #fff;
}
ul.stack__titles {
	height: 8vh;
	max-width: 560px;
	width: 95%;margin-top: 4vh;
}

.stack__titles blockquote {
	margin: 0;
	text-align: center;
	font-size: 18px;
}

.stack__titles blockquote footer {
	font-size: 50%;
	padding-bottom: 1em;padding-top: 1em;
	font-family: 'Montserrat', Arial, sans-serif;
}

.stack__titles li {
	pointer-events: none;
	-webkit-transition: opacity 0.45s ease;
	transition: opacity 0.45s ease;
}

.stack__titles li.current {
	opacity: 1;
	pointer-events: auto;
}

/* Animations */
.morph-shape svg {
	fill: #add8df;
	-webkit-transition: fill 0.1s ease-out;
	transition: fill 0.1s ease-out;
}

.navigate-next .morph-shape svg {
	fill: #add8df;
	-webkit-transition-duration: 0.45s;
	transition-duration: 0.45s;
}

.container {
	-webkit-transition: -webkit-transform 0.1s cubic-bezier(0.6, 0, 0.5, 1);
	transition: transform 0.1s cubic-bezier(0.6, 0, 0.5, 1);
}

.demo-1.navigate-next .container {
	-webkit-transition-duration: 0.45s;
	transition-duration: 0.45s;
	-webkit-transform: translate3d(0, 0, -600px);
	transform: translate3d(0, 0, -600px);
}