
.icon-change:before { content: '\e800'; } /* '' */
.icon-choiceness_active:before { content: '\e801'; } /* '' */
.icon-choiceness_default:before { content: '\e802'; } /* '' */
.icon-explore_active:before { content: '\e803'; } /* '' */
.icon-explore_default:before { content: '\e804'; } /* '' */
.icon-go:before { content: '\e805'; } /* '' */
.icon-mine_active:before { content: '\e806'; } /* '' */
.icon-mine_default:before { content: '\e807'; } /* '' */
.icon-search:before { content: '\e808'; } /* '' */
.icon-glyph-2:before { content: '\e80b'; } /* '' */
.icon-glyph-3:before { content: '\e80c'; } /* '' */
.icon-glyph-5:before { content: '\e80e'; } /* '' */
.icon-heart-empty:before { content: '\e80f'; } /* '' */
.icon-heart:before { content: '\e810'; } /* '' */
.icon-gift:before { content: '\e811'; } /* '' */
.icon-star:before { content: '\e812'; } /* '' */
.icon-star-1:before { content: '\e813'; } /* '' */
.icon-feedback:before { content: '\e814'; } /* '' */
.icon-more:before { content: '\e815'; } /* '' */
.icon-star2:before { content: '\e816'; } /* '' */
.icon-like:before { content: '\e81e'; } /* '' */
.icon-sugar:before { content: '\e81f'; } /* '' */
.icon-us:before { content: '\e822'; } /* '' */
.icon-guess:before { content: '\e823'; } /* '' */
.icon-history:before { content: '\e824'; } /* '' */
.icon-play-2:before { content: '\e825'; } /* '' */
.icon-delete:before { content: '\e826'; } /* '' */
.icon-medal_active:before { content: '\e82c'; } /* '' */
.icon-medal_default:before { content: '\e82d'; } /* '' */
.icon-cross:before { content: '\e90c'; } /* '' */
.icon-pause-1:before { content: '\f00e'; } /* '' */
.icon-play-1:before { content: '\f00f'; } /* '' */