
.icon-change:before { content: '\e800'; } /* '' */
.icon-choiceness_active:before { content: '\e801'; } /* '' */
.icon-choiceness_default:before { content: '\e802'; } /* '' */
.icon-explore_active:before { content: '\e803'; } /* '' */
.icon-explore_default:before { content: '\e804'; } /* '' */
.icon-go:before { content: '\e805'; } /* '' */
.icon-mine_active:before { content: '\e806'; } /* '' */
.icon-mine_default:before { content: '\e807'; } /* '' */
.icon-search:before { content: '\e808'; } /* '' */
.icon-microphone:before { content: '\e809'; } /* '' */
.icon-glyph:before { content: '\e80a'; } /* '' */
.icon-glyph-2:before { content: '\e80b'; } /* '' */
.icon-glyph-3:before { content: '\e80c'; } /* '' */
.icon-glyph-4:before { content: '\e80d'; } /* '' */
.icon-glyph-5:before { content: '\e80e'; } /* '' */
.icon-heart-empty:before { content: '\e80f'; } /* '' */
.icon-heart:before { content: '\e810'; } /* '' */
.icon-gift:before { content: '\e811'; } /* '' */
.icon-star:before { content: '\e812'; } /* '' */
.icon-star-1:before { content: '\e813'; } /* '' */
.icon-feedback:before { content: '\e814'; } /* '' */
.icon-more:before { content: '\e815'; } /* '' */
.icon-star2:before { content: '\e816'; } /* '' */
.icon-music_cloud:before { content: '\e81b'; } /* '' */
.icon-like:before { content: '\e81e'; } /* '' */
.icon-sugar:before { content: '\e81f'; } /* '' */
.icon-us:before { content: '\e822'; } /* '' */
.icon-guess:before { content: '\e823'; } /* '' */
.icon-history:before { content: '\e824'; } /* '' */
.icon-play-2:before { content: '\e825'; } /* '' */
.icon-delete:before { content: '\e826'; } /* '' */
.icon-note1:before { content: '\e902'; } /* '' */
.icon-note2:before { content: '\e903'; } /* '' */
.icon-note3:before { content: '\e904'; } /* '' */
.icon-note4:before { content: '\e905'; } /* '' */
.icon-note5:before { content: '\e906'; } /* '' */
.icon-note6:before { content: '\e907'; } /* '' */
.icon-cross:before { content: '\e90c'; } /* '' */
.icon-glyph-1:before { content: '\f000'; } /* '' */
.icon-pause-1:before { content: '\f00e'; } /* '' */
.icon-play-1:before { content: '\f00f'; } /* '' */
.icon-skip-back:before { content: '\f0a5'; } /* '' */
.icon-skip-next:before { content: '\f0a6'; } /* '' */
.icon-pause:before { content: '\f0bb'; } /* '' */
.icon-play:before { content: '\f0bf'; } /* '' */